@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  width: 100%;
  padding: 0.9rem 1rem;
  background: #f5f7f9;
  border-radius: 0.8rem;
  font-size: 14px;
}

.input input:focus {
  outline: none;
}

.button,
.social-button {
  padding: 0.9rem 1rem;
  border-radius: 0.9rem;
  cursor: pointer;
}

.button {
  color: white;
  border: none;
  background: #182537;
}

.social-button {
  display: flex;
  gap: 0.8rem;
  color: #182537;
  border: 1px solid #182537;
  background: transparent;
}
.social-button:active{
  background: #9b9b9b;
}

.blurred-background {
  backdrop-filter: blur(10px);
  background: rgba(147, 147, 147, 0.05);
  border-radius: 0.9rem;
  max-width: 60%;
  margin: 0 auto;
}
